body {
  background-color: #f1f1f1;
  padding: 20px;
}


header {
  //border: 1px solid green;
  display: flex;
  flex-direction: column; /* make grid columns */
  align-items: center;
  padding: 1em;  
}

h1 {
  font-size: 64px;
}

button {
  font-size: 20px;
  height: 60px;
  width: 250px;
}

main {
  //border: 1px solid red;
  width: 90%;
  margin: 2em auto;
}

div.image-selections, .partner, .sponsors {
  //border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;

}

div.images, .partner, .sponsor {
  width: 300px;
  margin-top: 40px;
  text-align: center;
}

img {
  width: 100%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.logo {
  border-radius: 50%;
}



.active {
  background-color: grey;
  color: #ffffff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  outline: none;
}

.meet {
  display: inline;
}

address {
  display: inline;
}

@media only screen and (max-width: 750px) {
  body {
    background-color: lightblue;
  }


  div.images, .partner, .sponsor {
    width: 240px;
    margin-top: 40px;
    
  }
  
}

@media only screen and (max-width:610px) {
  body {
    background-color: salmon;
  }

  div.images, .partner, .sponsor {
    width: 200px;
    margin-top: 40px;
    
  }
}

nav ul li {
  display: inline-block;
  padding: 15px 10px;
}
