body {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 24px;
}

header, main, footer, h1, h2, p, ol, ul, li, address, a:link, a:visited, a:hover {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  text-decoration: none;
  color: black;
}

h1, h2, nav {
  align-items: center;
}

a:link, a:visited {
  text-decoration: underline;
}

a:hover
{
  text-decoration: none;
  text-decoration-color: black;
  background: red;
  color: white;
}

header, main {
  /*border: 1px solid red; */
  width: 90%;
  margin: 2em auto;
  text-align: left;
}

header, h1, h2 {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column; /* make grid columns */
  align-items: center;

}

h1 {
  font-size: 64px;
  align-items: center;
  margin: 0px 0px;
  width: 100%;
}

nav ul li {
  display: inline-block;
}

h2, nav ul li a {
  font-size: 32px;
}

button {
  font-size: 20px;
  height: 60px;
  width: 250px;
}

footer {
  font-size: 18px;
}

div.image-selections, .partner, .sponsors, .findus_section, .getsomehelp {
  /*border: 1px solid blue;*/
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;

}

.findus, p, li {
  /*border: 1px solid red;*/
}

div.images, .partner, .sponsor, .findus, .gethelp {
  width: 300px;
  margin-top: 40px;
  text-align: center;
}

.sponsors_nav, .sponsors_section, .sponsor, .sponsors {
  display: none;
}

.findus, .findus p {
  text-align: left;
  width: 48%;
}

img, .twitter {
  width: 100%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.logo {
  border-radius: 50%;
}

.active {
  background-color: grey;
  color: #ffffff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  outline: none;
}

.meet {
  display: inline;
}

address {
  display: inline;
  font-weight: 900;
  text-decoration: none;
  
}

@media only screen and (max-width: 750px) {
  body {
    /*background-color: lightblue;*/
    font-size: 20px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  nav {
    display: none;
  }
  
  nav ul li a, p, li {
    font-size: 24px;
  }

  footer p {
    font-size: 14px;
  }

  div.images, .partner, .sponsor, .getsomehelp {
    width: 240px;
    margin-top: 40px;
  }

  .findus {
    width: 100%
  }
  
}

@media only screen and (max-width:610px) {
  body {
    /*background-color: salmon;*/
    font-size: 20px;
  }

  div.images, .partner, .sponsor, .getsomehelp {
    width: 200px;
    margin-top: 40px;
  }


  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  nav {
    display: none;
  }

  nav ul li a {
    font-size: 24px;
  }

  p, li {
    font-size: 20px;
  }

  footer {
    font-size: 14px;
  }
}
nav ul li {
  display: inline-block;
  padding: 15px 10px;
  font-size: 18px;
}
